.head{

    display: flex;
    justify-content: space-between;
}

.left{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.left img{
    height: 40px;
    width: 40px;
}