body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('img/r.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #333;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.container {
  max-width: 850px;
  background: rgba(255, 255, 255, 0.454);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  box-shadow: 0 8px 30px rgba(0,0,0,0.2);
  text-align: center;
  padding-bottom: 30px;
  margin: 60px auto;
  transform: translateY(50px);
  opacity: 0;
  transition: all 1s ease;
}

.container.show { transform: translateY(0); opacity: 1; }

.header {
  background: linear-gradient(135deg, #274028, #30652eaa);
  color: rgba(160, 166, 161, 0.614);
  padding: 25px 0;
  border-bottom: 3px solid #5e7f5d;
}

.header h1 {
  margin: 0;
  animation: pulse 5s infinite ease-in-out;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.content { padding: 20px 30px; }

.city-image {
  width: 85%;
  height: 370px;
  object-fit: cover;
  border-radius: 15px;
  margin: 15px 0;
  box-shadow: 0 6px 15px rgba(0,0,0,0.2);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.city-image:hover { transform: scale(1.05); box-shadow: 0 10px 25px rgba(0,0,0,0.3); }

.description { padding: 15px; font-size: 17px; line-height: 1.6; }

.section {
  max-width: 850px;
  background: rgba(255, 255, 255, 0.532);
  backdrop-filter: blur(8px);
  border-radius: 20px;
  box-shadow: 0 6px 25px rgba(0,0,0,0.15);
  margin: 60px auto;
  padding: 30px;
  text-align: center;
  transform: translateY(40px);
  opacity: 0;
  transition: all 1s ease;
}

.section.show { transform: translateY(0); opacity: 1; }

.section h2 { color: #5e7f5d; margin-bottom: 20px; }

.gallery { display: flex; justify-content: center; flex-wrap: wrap; gap: 15px; }

.gallery img {
  width: 240px;
  height: 160px;
  border-radius: 12px;
  object-fit: cover;
  transition: transform 0.3s, box-shadow 0.3s;
}

.gallery img:hover { transform: scale(1.08); box-shadow: 0 10px 20px rgba(0,0,0,0.2); }

#scrollTopBtn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: #5e7f5d;
  color: rgba(255, 255, 255, 0.811);
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 22px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  display: none;
  transition: all 0.3s ease;
}

#scrollTopBtn:hover { background: #5e7f5d; transform: scale(1.1); }

@keyframes pulse { 0%,100%{transform:scale(1);} 50%{transform:scale(1.02);} }

.snowflake {
  position: fixed; top:-10px; color:rgba(255, 255, 255, 0.795); font-size:1em;
  pointer-events:none;
  animation: fall linear infinite;
  opacity:0.9;
}

@keyframes fall {
  0%{transform:translateY(0) rotate(0deg);opacity:1;}
  100%{transform:translateY(100vh) rotate(360deg);opacity:0.5;}
}

#soundBtn {
  position: fixed;
  bottom: 30px;
  left: 30px;
  background: #3b6339;
  color: rgba(255, 255, 255, 0.831);
  border: none;
  border-radius: 20px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 14px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  transition: all 0.3s ease;
}

#soundBtn:hover { background: #487051; transform:scale(1.05); }

.discover-btn { padding:10px 20px; border:none; border-radius:20px; background: #344b33;; color:white; cursor:pointer; font-size:16px; }

.guide-btn {
  position: fixed; bottom: 130px; left: 30px;
  background: #3b6339; color: white; border: none; border-radius: 20px;
  padding: 10px 15px; cursor: pointer; font-size: 14px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3); transition: all 0.3s ease;
}

.guide-btn:hover { background: #487051; }

.map-btn {
  position: fixed; bottom: 80px; left: 30px;
  background: #3b6339; color: white; border: none; border-radius: 20px;
  padding: 10px 15px; cursor: pointer; font-size: 14px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3); transition: all 0.3s ease;
}

.map-btn:hover { background: #487051; }
